[submodule "Nut/vendor/spdlog"]
	path = Nut/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Nut/vendor/GLFW"]
	path = Nut/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
[submodule "Nut/vendor/imgui"]
	path = Nut/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "Nut/vendor/glm"]
	path = Nut/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Nut/vendor/UUIDv4"]
	path = Nut/vendor/UUIDv4
	url = https://github.com/crashoz/uuid_v4
[submodule "Nut/vendor/ImGuizmo"]
	path = Nut/vendor/ImGuizmo
	url = https://github.com/TheCherno/ImGuizmo
[submodule "Nut/vendor/Box2D"]
	path = Nut/vendor/Box2D
	url = https://github.com/TheCherno/box2d.git
[submodule "Nut/vendor/filewatch/filewatch"]
	path = Nut/vendor/filewatch/filewatch
	url = https://github.com/ThomasMonkman/filewatch
