.vscode/
.vs/
.idea/
int/
bin/
bin-int/
Nut/vendor/VulkanSDK/1.3.231.1/
scripts/__pycache__/

*.user
*.filters
*.vcxproj
*.sln
*.csproj
Nut/vendor/VulkanSDK/VulkanSDK.exe
Nero/assets/cache/
Nut/vendor/GLAD/bin-int/

!vendor/premake/bin/

Nut/vendor/GLAD
