################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Nut/v17
/.vs/Nut
/int/Debug-windows-x86_64
/bin/Debug-windows-x86_64
